@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Thống kê doanh thu Tour";
    int i = 1;
    int totalTour = ViewBag.countTour;
    int totalDiDiem = ViewBag.countDiaDiem;
}
@model List<tour.ViewModels.ThongKeTour>;
<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: -10px;"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                    <div class="inner">
                        <h4>@string.Format("{0:#,0}", Model.Sum(s=>s.TongDoanhThu)) VNĐ</h4>
                        <p>Tổng doanh thu</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                    <div class="inner">
                        <h4>@string.Format("{0:#,0}", Model.Sum(s=>s.TongDoanhThu - s.TongChiPhi)) VNĐ</h4>

                        <p>Tổng lợi nhuận</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">Chi tiết<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                    <div class="inner">
                        <h4>@totalTour</h4>

                        <p>Số tour đang khai thác</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="/Quanlytour" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                    <div class="inner">
                        <h4>@totalDiDiem</h4>

                        <p>Số địa điểm đang khai thác</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="/DiaDiem" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover" id="tableXemGiaTour">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tour</th>
                                        <th scope="col">Tổng số đoàn đi</th>
                                        <th scope="col">Tổng doanh thu</th>
                                        <th scope="col">Tổng chi phí</th>
                                        <th scope="col">Lãi</th>
                                        <th scope="col">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (tour.ViewModels.ThongKeTour t in Model)
                                    {
                                        <tr>
                                            <th>@(i++)</th>
                                            <td>@t.TenTour</td>
                                            <td>@t.TongDoanDi</td>
                                            <td>@string.Format("{0:#,0}", @t.TongDoanhThu)</td>
                                            <td>@string.Format("{0:#,0}", @t.TongChiPhi)</td>
                                            <td>@string.Format("{0:#,0}", (@t.TongDoanhThu - @t.TongChiPhi))</td>
                                            <td>
                                                <a href="Home/Details/@t.IdTour" name="update" value="update" class="btn btn-primary btn-sm">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Chi tiết
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
