@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Thống kê doanh thu Tour";
    int i = 1;
}
@model List<tour.ViewModels.ThongKeTour>;
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thống kê theo Tour</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thống kê</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
@*                        <div class="card-header">
                            <form action="" method="GET">
                                <div class="row">
                                    <div class="col-7">
                                        <select name="id" class="form-control">
                                            <option selected='true'>Tất cả</option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <button type="submit" class="form-control btn btn-primary">Xem</button>
                                    </div>
                                    <div class="col-3">
                                        <a href="/Quanlygia/Create" class="form-control btn btn-primary">Thêm giá mới</a>
                                    </div>
                                </div>
                            </form>
                        </div>*@
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-hover" id="tableXemGiaTour">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tour</th>
                                        <th scope="col">Tổng số đoàn đi</th>
                                        <th scope="col">Tổng doanh thu</th>
                                        <th scope="col">Tổng chi phí</th>
                                        <th scope="col">Lãi</th>
                                        <th scope="col">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (tour.ViewModels.ThongKeTour t in Model)
                                    {
                                        <tr>
                                            <th>@(i++)</th>
                                            <td>@t.TenTour</td>
                                            <td>@t.TongDoanDi</td>
                                            <td>@string.Format("{0:#,0}", @t.TongDoanhThu)</td>
                                            <td>@string.Format("{0:#,0}", @t.TongChiPhi)</td>
                                            <td>@string.Format("{0:#,0}", (@t.TongDoanhThu - @t.TongChiPhi))</td>
                                            <td>
                                                <a href="ThongKe/Details/@t.IdTour" name="update" value="update" class="btn btn-primary btn-sm">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Chi tiết
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
