@model tour.Models.KhachHangs

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KhachHangs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhSdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhSdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhNgaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhNgaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhCmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhCmnd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KhId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
