@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chi tiết đoàn";
    var listkh = ViewBag.kh;
    var listNv = ViewBag.nv;
    var listNvs = ViewBag.nvs;
    var listkhall = ViewBag.khall;
}
  <div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Chi tiết đoàn</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="index3.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách đoàn</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <button class="nav-link btn" id="link-detail">Tổng quan</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link btn" id="link-customer">Khách hàng</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link btn" id="link-nv">Nhân viên</button>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start">
                      <div class="bd-highlight">Số lượng nhân viên :
                        <span class="text-black">1</span>
                      </div>
                      <div class="bd-highlight">Số lượng khách :
                        <span class="text-black">1</span>
                      </div>
                      <div class="bd-highlight">Giá tour :
                        <span class="text-danger">1.500.000 VNĐ</span>
                      </div>
                      <div class="bd-highlight">Tổng chi phí :
                        <span class="text-danger">1.500.000 VNĐ</span>
                      </div>
                      <div class="bd-highlight">Tổng tiền :
                        <span class="text-danger">1.500.000 VNĐ</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <div class="card" id="list-customer">
                  <div class="card-header">
                      <div class="col-12">
                          <div class="row">
                              <div class="col-7">
                                  <select class="form-control" id="list-op-kh">
                                      <option selected='true' value="0">Chọn khách hàng</option>
                                      @foreach (KhachHangs items in listkhall)
                                      {
                                          <option value="@items.KhId">@items.KhTen</option>
                                      }
                                  </select>
                              </div>
                              <div class="col-2">
                                  <button class="btn btn-primary" id="add-kh-op">Thêm khách hàng</button>
                              </div>
                              <div class="col-2">
                                  <button class="btn btn-primary" data-toggle="modal" data-target="#form-add">Thêm mới</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table class="table table-bordered table-hover" id="table-nguoi-di">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Ngày sinh</th>
                            <th scope="col">Email</th>
                            <th scope="col">Số chứng minh</th>
                            <th scope="col">Thao tác</th>
                          </tr>
                        </thead>
                      <tbody>
                          @foreach (KhachHangs item in listkh)
                          {
                              <tr>
                                  <td>@item.KhId</td>
                                  <td>@item.KhTen</td>
                                  <td>@item.KhSdt</td>
                                  <td>@item.KhNgaysinh</td>
                                  <td>@item.KhEmail</td>
                                  <td>@item.KhCmnd</td>
                                  <td>
                                      <a class="btn btn-primary btn-sm" href="#">
                                          <i class="fas fa-pencil-alt">
                                          </i>
                                          Sửa
                                      </a>
                                      <button class="btn btn-danger btn-sm delete-kh" value="@item.KhId">
                                          <i class="fas fa-trash"></i>
                                      </button>
                                  </td>
                              </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <div class="card" id="list-nv">
                  <div class="card-header">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6">
                            <select class="form-control"  id="op-nv-doan">
                                <option selected='true' value="0">Chọn nhân viên</option>
                                @foreach (NhanViens items in listNvs)
                                {
                                    <option value="@items.NvId">@items.NvTen - @items.Nhiemvu</option>
                                }
                            </select>
                        </div>
                        <div class="col-2">
                          <button class="btn btn-primary" id="add-nv-op">Thêm nhân viên</button>
                        </div>
                        <div class="col-2">
                            <a href="/Nhanvien/Create" class="btn btn-primary">Thêm mới</a>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered table-hover" id="table-nhan-vien">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên nhân viên</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nhiệm vụ</th>
                            <th scope="col">Thao tác</th>
                          </tr>
                        </thead>
                      <tbody>
                          @foreach (NhanViens item in listNv)
                          {
                              <tr>
                                  <td>@item.NvId</td>
                                  <td>@item.NvTen</td>
                                  <td>@item.NvSdt</td>
                                  <td>@item.NvEmail</td>
                                  <td>@item.Nhiemvu</td>
                                  <td>
                                      <button class="btn btn-danger btn-sm delete-nv" value="@item.NvId">
                                          <i class="fas fa-trash"></i>
                                      </button>
                                  </td>
                              </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card" id="list-cp">
                  <div class="card-header">
                    <div class="col-12">
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" data-toggle="modal" data-target="#form-add-cp">Thêm chi phí</button>
                        </div>
                      </div>       
                    </div>
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered table-hover" id="table-chi-phi">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col">Tên tour</th>
                            <th scope="col">Tên đoàn</th>
                            <th scope="col">Loại</th>
                            <th scope="col">Chi tiết</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Thao tác</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>D01</td>
                            <td>T01</td>
                            <td>2020-10-12</td>
                            <td>2020-10-16</td>
                            <td>3</td>
                            <td>
                              <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash"></i>
                              </a>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
      </section>
  </div>
  <!-- /.content-wrapper -->
  <div class="modal fade" id="form-add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm khách hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <div class="row">
                <div class="col-12 form_tour_" style="padding: 20px;">
                  <div class="row">
                    <div class="col">
                      <label>Người lớn</label>
                      <input type="number" class="form-control" value="1" id="nguoi_lon">
                    </div>
                    <div class="col">
                      <label>Trẻ em</label>
                      <input type="number" class="form-control" value="0" id="tre_em">
                    </div>
                    <div class="col">
                      <label>Số khách</label>
                      <input type="text" class="form-control" value="1" id="tong_ng_di" readonly>
                    </div>
                    <div class="col">
                        <label>Xử lý</label>
                        <button type="button" class="form-control btn btn-primary" id="btn_khach_hang">Xác nhận</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse form_list_customer">
                  <div class="card" id="list_customer_main">
             
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-kh">Lưu</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="form-add-cp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm chi phí</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <div class="row">
              <div class="col-6" style="padding: 20px;">
                <div class="form-group">
                  <label>Tên tour</label>
                  <input type="text" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Tên đoàn</label>
                  <input type="text" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Loại chi phí</label>
                  <select class="form-control">
                      <option value='0' selected='true'>Hướng dẫn viên</option>
                      <option value='1'>Thông dịch viên</option>
                      <option value='2'>Tài xế</option>
                  </select>
                </div>
              </div>
              <div class="col-6" style="padding: 20px;">
                <div class="form-group">
                  <label>Nội dung</label>
                  <input type="text" class="form-control" placeholder="Nhập nội dung">
                </div>
                <div class="form-group">
                  <label>Hóa đơn</label>
                  <input type="text" class="form-control" placeholder="Nhập mã hóa đơn">
                </div>
                <div class="form-group">
                  <label>Giá</label>
                  <input type="number" class="form-control" placeholder="Nhập giá">
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary">Lưu</button>
        </div>
      </div>
    </div>
  </div>