@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý đoàn";
}
@model IEnumerable<Doans>;
 <div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Danh sách đoàn khách</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách đoàn</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <div class="btn-group btn-add" role="group" aria-label="Basic example">
                      <a href="/Doan/themdoan" class="btn btn-primary">Thêm đoàn khách</a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table class="table table-bordered table-hover" id="table-doan">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col">Mã đoàn</th>
                            <th scope="col">Mã tour</th>
                            <th scope="col">Tên đoàn</th>
                            <th scope="col">Ngày đi</th>
                            <th scope="col">Ngày về</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Hành động</th>
                          </tr>
                        </thead>
                      <tbody>
                          @foreach (var item in Model)
                          {
                              <tr>
                                  <td>@item.DoanId</td>
                                  <td>@item.TourId</td>
                                  <td>@item.Ten</td>
                                  <td>@item.NgayDiFormat</td>
                                  <td>@item.NgayVeFormat</td>
                                  <td>1.000.000</td>
                                  <td>
                                      <a href="/Doan/Details/@item.DoanId" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                                      <a class="btn btn-primary btn-sm" href="#">
                                          <i class="fas fa-pencil-alt">
                                          </i>
                                          Sửa
                                      </a>
                                      <a class="btn btn-danger btn-sm" href="#">
                                          <i class="fas fa-trash"></i>
                                      </a>
                                  </td>
                              </tr>
                          }

                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
    </section>
  </div>